$grey:#e5e5e5;
$darkgrey:#383838;
$white:white;
$yellow:#d5a225;
$textblue:#00747a;
$hoverblue:#01747b;
$border:#f1f1f1;
$white:white;
$lightgrey:grey;
$palewhite:#ebebeb;
$buttonblue:#6da0c7;